Repository ihabwahbi/cost-management-db: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-duplicates, schema-lock-check, pipeline-order, update-context-oracle

pylint-duplicates:
  name: 'Pylint: Duplicate Detection'
  entry: .venv/bin/pylint
  args:
  - --disable=all
  - --enable=similarities
  - --min-similarity-lines=10
  language: system
  pass_filenames: true

schema-lock-check:
  name: 'Schema: Lock Verification'
  entry: python3 scripts/validators/schema_lock.py --check
  language: system
  pass_filenames: false

pipeline-order:
  name: 'Pipeline: DAG Validation'
  entry: python3 scripts/validators/pipeline_order.py
  language: system
  pass_filenames: false

update-context-oracle:
  name: 'Oracle: Regenerate Context'
  entry: python3 scripts/generate_context_oracle.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat: add business rule contract tests from COST_MANAGEMENT_LOGIC.md
  AGENTS.md
  tests/contracts/test_business_rules.py
Due: none

feat: add reservations pipeline with PO Line ID normalization
  AGENTS.md
  pipeline-context/.manifest.json
  pipeline-context/lineage/graph.json
  pipeline-context/registry/symbols.json
  pipeline-context/skeletons/index.json
  pipeline-context/skeletons/stage1_clean/13_reservations.skeleton.py
  pipeline-map.json
  pipeline-map.md
  schema_lock.json
  scripts/stage1_clean/13_reservations.py
  src/schema/sap-reservations.ts
Due: pylint-duplicates, schema-lock-check, pipeline-order, update-context-oracle

Updated reservations intermediate
  data/intermediate/reservations.csv
Due: none

feat: add reservations stage3 prepare script with schema updates and PO line items FK
  data/import-ready/grir_exposures.csv
  data/import-ready/sap_reservations.csv
  data/intermediate/grir_exposures.csv
  data/intermediate/unmatched_reservation_pos.csv
  pipeline-context/.manifest.json
  pipeline-context/lineage/graph.json
  pipeline-context/registry/symbols.json
  pipeline-context/skeletons/config/column_mappings.skeleton.py
  pipeline-context/skeletons/index.json
  pipeline-context/skeletons/stage3_prepare/10_prepare_reservations.skeleton.py
  pipeline-map.json
  pipeline-map.md
  schema_lock.json
  scripts/config/column_mappings.py
  scripts/pipeline.py
  scripts/stage3_prepare/10_prepare_reservations.py
  src/schema/sap-reservations.ts
Due: pylint-duplicates, schema-lock-check, pipeline-order, update-context-oracle

docs: add detailed import plan for po_transactions table
  IMPORT_PLAN_PO_TRANSACTIONS.md
Due: none

feat: add wbs_details import with VARCHAR PK and array column support
  package.json
  src/imports/wbs-details.ts
Due: none

feat: add sap_reservations import with orphan preservation for investigation
  package.json
  pipeline-context/.manifest.json
  pipeline-context/lineage/graph.json
  pipeline-context/registry/symbols.json
  pipeline-map.json
  pipeline-map.md
  src/imports/sap-reservations.ts
  src/schema/sap-reservations.ts
Due: schema-lock-check, update-context-oracle

Cleanup plans
  IMPORT_PLAN_GRIR_EXPOSURES.md
  IMPORT_PLAN_PO_TRANSACTIONS.md
  IMPORT_PLAN_SAP_RESERVATIONS.md
  IMPORT_PLAN_WBS_DETAILS.md
Due: none

feat: add cross-project schema sync validation
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  scripts/validators/cross_project_schema.py
Due: none

docs: add PR pre-mapping feature implementation report
  docs/2025-12-07-pr-pre-mapping-feature.md
Due: none

feat: implement PR pre-mapping schema and ETL matching logic
  docs/2025-12-07-pr-pre-mapping-feature.md
  pipeline-context/.manifest.json
  pipeline-context/lineage/graph.json
  pipeline-context/registry/symbols.json
  pipeline-map.json
  pipeline-map.md
  src/imports/po-line-items.ts
  src/matching/match-pr-pre-mappings.ts
  src/schema/index.ts
  src/schema/po-mappings.ts
  src/schema/pr-pre-mappings.ts
Due: schema-lock-check, update-context-oracle

refactor: remove redundant sub_business_line from cost_breakdown schema
  docs/2025-12-08-cost-breakdown-sub-business-line-investigation.md
  pipeline-context/.manifest.json
  pipeline-context/lineage/graph.json
  pipeline-context/registry/symbols.json
  pipeline-map.json
  pipeline-map.md
  scripts/validators/cross_project_schema.py
  src/schema/cost-breakdown.ts
Due: schema-lock-check, update-context-oracle

feat: add performance indexes for PO mapping page queries
  pipeline-context/.manifest.json
  pipeline-map.json
  pipeline-map.md
  src/schema/po-line-items.ts
Due: schema-lock-check, update-context-oracle

feat: architecture improvement — schema unification, pre-computed fields, db:drift, views
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  PIPELINE_OPERATIONS.md
  README.md
  docs/2025-12-07-pr-pre-mapping-feature.md
  docs/ARCHITECTURE_IMPROVEMENT_PLAN.md
  package.json
  pipeline-context/.manifest.json
  pipeline-context/lineage/graph.json
  pipeline-context/registry/symbols.json
  pipeline-context/skeletons/config/column_mappings.skeleton.py
  pipeline-context/skeletons/index.json
  pipeline-context/skeletons/stage1_clean/13_reservations.skeleton.py
  pipeline-context/skeletons/stage3_prepare/06_prepare_po_line_items.skeleton.py
  pipeline-map.json
  pipeline-map.md
  schema_lock.json
  scripts/config/column_mappings.py
  scripts/contracts/po_line_items_schema.py
  scripts/detect-schema-drift.ts
  scripts/generate_pipeline_map.py
  scripts/stage1_clean/13_reservations.py
  scripts/stage3_prepare/06_prepare_po_line_items.py
  scripts/validators/cross_project_schema.py
  src/imports/po-line-items.ts
  src/schema/agent-memories.ts
  src/schema/index.ts
  src/schema/pending-invites.ts
  src/schema/po-line-items.ts
  src/schema/registration-attempts.ts
  src/schema/registration-audit-log.ts
  src/schema/users.ts
  src/schema/v-po-mapping-detail.ts
  src/schema/v-project-financials.ts
  src/schema/webauthn-challenges.ts
  src/schema/webauthn-credentials.ts
Due: pylint-duplicates, schema-lock-check, pipeline-order, update-context-oracle

feat: data architecture migration — ETL status flags + business unit reference tables
  pipeline-context/.manifest.json
  pipeline-context/lineage/graph.json
  pipeline-context/registry/symbols.json
  pipeline-context/skeletons/config/column_mappings.skeleton.py
  pipeline-context/skeletons/index.json
  pipeline-context/skeletons/stage3_prepare/06_prepare_po_line_items.skeleton.py
  pipeline-map.json
  pipeline-map.md
  schema_lock.json
  scripts/config/column_mappings.py
  scripts/contracts/po_line_items_schema.py
  scripts/stage3_prepare/06_prepare_po_line_items.py
  src/imports/po-line-items.ts
  src/schema/business-units.ts
  src/schema/index.ts
  src/schema/po-line-items.ts
Due: pylint-duplicates, schema-lock-check, pipeline-order, update-context-oracle

chore: add po-date-overrides symlink for webapp schema sync
  AGENTS.md
  pipeline-context/.manifest.json
  pipeline-context/lineage/graph.json
  pipeline-context/registry/symbols.json
  pipeline-map.json
  pipeline-map.md
  src/schema/index.ts
  src/schema/po-date-overrides.ts
Due: schema-lock-check, update-context-oracle

feat: make costBreakdownId nullable, add projectId + spendType columns to po_mappings
  pipeline-context/.manifest.json
  pipeline-context/lineage/graph.json
  pipeline-context/registry/symbols.json
  pipeline-map.json
  pipeline-map.md
  src/schema/po-mappings.ts
  src/schema/v-po-mapping-detail.ts
Due: schema-lock-check, update-context-oracle

feat: add amortisation columns to po_mappings and auto_amortise_threshold to projects
  pipeline-context/.manifest.json
  pipeline-context/lineage/graph.json
  pipeline-context/registry/symbols.json
  pipeline-map.json
  pipeline-map.md
  src/schema/po-mappings.ts
  src/schema/projects.ts
Due: schema-lock-check, update-context-oracle

fix: remove auto_amortise_threshold column and auto-specific references
  pipeline-context/.manifest.json
  pipeline-context/lineage/graph.json
  pipeline-context/registry/symbols.json
  pipeline-map.json
  pipeline-map.md
  src/schema/po-mappings.ts
  src/schema/projects.ts
Due: schema-lock-check, update-context-oracle

add PO line comments schema and regenerate pipeline context
  pipeline-context/.manifest.json
  pipeline-context/lineage/graph.json
  pipeline-context/registry/symbols.json
  pipeline-map.json
  pipeline-map.md
  src/schema/index.ts
  src/schema/po-line-comments.ts
Due: schema-lock-check, update-context-oracle

chore: add .ignore to expose thoughts directory to AI agents
  .ignore
Due: none

fix: update .ignore to negate thoughts/ so agent tools can access it
  .ignore
Due: none

Path conditions:
  pylint-duplicates: any of: ^scripts/stage.*\.py$
  schema-lock-check: any of: ^scripts/stage3_.*\.py$|^src/schema/.*\.ts$
  pipeline-order: any of: ^scripts/stage.*\.py$
  update-context-oracle: any of: ^scripts/(stage[123]_|config/).*\.py$|^src/schema/.*\.ts$
